/*  DASHBOARD DESIGN */
.main{
    height: 120vh;
    width: 100vw;
    display: flex;
    
}
/* LEFTSIDE */
.leftside{
    height: 100vh;
    width: 16%;
    padding: 10px;
    border: 1px solid red;
}
.leftside .topleft{
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 30px;
    width: auto;
    border: 1px solid red;
}
.topleft .logo{
    position: relative;
    top: 15px;
    display: flex;
}
.logoLetter{
    position: relative;
    bottom: 10px;
    display: flex;
}
.middleleft{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid red;
}
.middleleft div a{
    text-decoration: none;
    color: black;

}
.bottomleft{
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    border: 1px solid red;
    width: 145px;
    gap: 10px;
}
.bottomleft div button{
    border-radius: 12px;
    border: none;
    position: relative;
    top: 10px;
    width: 60px;
    height: 30px;
}
/*  RIGHT SIDE  */
.rightside{
    width: 100vw;
     border: 1px solid red;
     padding: 10px;
}
.rightside .navbar{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

.navleft{
    /* border: 1px solid red; */
    width: 200px;
}
.navleft  h3{
    font-size: small;
    position: relative;
    bottom: 10px;
    display: flex;
}
.navleft  h6{
    font-size: xx-small;
    position: relative;
    bottom: 30px;
    display: flex;
}
.navright{
     /* border: 1px solid red; */
     padding: 5px;
     position: relative;
     width: auto;
}
.navright input{
    height: 20px;
    width: 300px;
    border-radius: 12px;
    border: 1px solid black;
    padding-left: 70px;
    position: relative;
    right: 20px;
    bottom: 5px;
    

}
#searchicon{
     position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
#bellicon{
    position: relative;
    right: 8px;
    bottom: 5px;
}
.navright img{
    height: 20px;
    width: 20px;
    border-radius: 50%;

}

/* CLASSIFIED BAR  */
.classifingbar{
    border: 1px solid red;
    width: 100%;
    height: 60px;
    display: flex;
    gap: 50px;
    padding: 2px;
}
.classifer-card{
    border: 1px solid red ;
    display: flex;
    height: 100%;
    width: 120px;
    border-radius: 15px;
    border: 1px solid lightblue;

}

.cardright i{
    position: relative;
    top: 20px;
    left: 5px;
    height: 20px;
    width: 30px;
}
.cardleft p{
    font-size: xx-small;
    position: relative;
    
}

/* PIE CHART START  */
.pie-linechart{
    display: flex;
    border:  1px solid red;
    height: 200px;
    width: 100%;
}
.piechartClass{
     border:  1px solid rebeccapurple;
     height: 92%;
     width: 360px;
     display: flex;
     flex-direction:row;
     gap: 10px;
     padding: 8px;
}
.piechartClass > p{
    font-size: large;
    position: relative;
    display: inline-block;  
    /* left: 50px; */
    bottom: 20px;
    left: 30px;
    height: 30px;
    width: 60px;
    /* border:  1px solid black; */

}
#pieChart{
    height: 150px;
    width: 150px;
    border:  1px solid black;
    
}
#legendChart{
    position: relative;
    left:-45px;
    top: 50px;
}
.linechartclass{
    display: flex;
    flex-direction: column;
    border:  1px solid red;
    height: 100%;
    width: 490px;

}
#linehead{
    font-size: small;
    border:  1px solid red;
    position: relative;
    bottom: 12px;
}

.bottomline{
    height: 175px;
    width: 100%;
}
#lineChart{
   
    border:  1px solid black;
    position: relative;
    bottom: 20px;   
    width: 100% !important;
    height: 100% !important;

}
.upcomingevents{
    height: 200px;
    width: 100%;
    display: flex;
    border: 1px solid black;
}
#upcoming{
    height: 100%;
    width: 75%;
    border: 1px solid red;
}
.categories{
    height: 100%;
    width: 100%;
    border: 1px solid rebeccapurple;
}
.upcoming-card{
    padding: 2px;
    width: 99%;
    height: 17.5%;
    display: flex;
    border: 1px solid red;
    gap: 35px;

}
.upcoming-card p{
    font-size: x-small;
    position: relative;
    bottom:8px;
    right: 10px;
}
.upcoming-card img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.upcoming-card button{
    border-radius: 15px;
    border: none;
    height: 20px;
    width: 70px;
    position: relative;
    top: 10px;
}