/* Universal  */
*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
}

/* register page design */

body{
    background-image: url("/images/loginbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;

    padding: 30px;
    
}
.registerbody{
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.registerform{
    border: 1px solid ;color: aliceblue;
    padding: 10px;
    border-radius: 12px;
    
}
#registerhead{
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    color: aliceblue;
}
.formtable  tr{

    height: 60px;


}
.formtable  tr td label{
    /* font-size: 5px; */
    color: aliceblue;
}
.formtable tr td input{
    /* height: 40px; */
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    border:1px solid black;
    padding: 5px;

}
.line{

  border: none;
  height: 3px;
  background: linear-gradient(to right, #C77DFF, #8A2BE2, #0B0C10);
  margin: 30px 0;
  
}
.registerbody button{
    height: 30px;
    width: 80px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px;
    position: relative;
    top: 10px;
    background-color: lightskyblue;


}
.logintag{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    left: 100px;
}
.logintag:hover{
    color: #0B0C10;
}

.skillcheckbox{
    width: 190px;
    padding-left: 20px;
    font-size: small;
     border: 1px solid black;
     position: relative;
     right: 10px;
     border-radius: 12px;
     color: aliceblue;
}

/* Login design */
.loginbody{
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: 1px solid red ;
}
.loginbody table tr td{

    height: 80px;
}
.logintable  tr td label{

    height: 80px;
    font-size: 25px;
}
.logintable  tr td input{

    height: 40px;
    font-size: 25px;
    position: relative;
    left: 20px;
    border-radius: 12px;
    /* outline: none; */
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}

.loginbody button{
    height: 30px;
    width: 80px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px;

}
